<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/apple-icon.png">
    <link rel="icon" href="../assets/img/favicon.png">
    <title>
        Edwin njau claims tool
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../assets/css/vendor/material-dashboard.min.css">
    <!-- Documentation extras -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!-- <link href="../assets/assets-for-demo/demo.css" rel="stylesheet" /> -->
    <!-- iframe removal -->

    <style>
        td {
            cursor: pointer;
        }

        tbody tr:last-child {
            font-weight: 500;
        }

        .class-name {
            font-weight: 400;
        }
    </style>

</head>

<body class="">
    <div class="wrapper">
        <div class="sidebar" data-color="azure" data-background-color="white" data-image="">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="logo">
                <a href="#" class="simple-text logo-normal">
                    Edwin Njau
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active ">
                        <a class="nav-link" href="./dashboard.html">
                            <i class="material-icons">dashboard</i>
                            <p>Summary</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="./os_begining.html">
                            <i class="material-icons">event</i>
                            <p>OS Begining of month</p>
                        </a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="./intimated.html">
                            <i class="material-icons">content_paste</i>
                            <p>Intimated claims</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./paid.html">
                            <i class="material-icons">library_books</i>
                            <p>Paid claims</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./os_end.html">
                            <i class="material-icons">event</i>
                            <p>OS End of month</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./revised.html">
                            <i class="material-icons">arrow_upward</i>
                            <p>Revised claims</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./revived.html">
                            <i class="material-icons">arrow_downward</i>
                            <p>Revived claims</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./no_claim.html">
                            <i class="material-icons">no_encryption</i>
                            <p>closed As no claim claims</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./paid_settled.html">
                            <i class="material-icons">no_encryption</i>
                            <p>paid and settled claims</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="./combined.html">
                            <i class="material-icons">date_range</i>
                            <p>combined claims</p>
                        </a>
                    </li>
                    <li class="nav-item exit">
                        <a class="nav-link" href="">
                            <button>
                                <p>combined claims</p>
                            </button>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand" href="#pablo">Summary Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>

                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon">
                                        <!-- <i class="material-icons">content_copy</i> -->
                                        <h4>INTIMATED</h4>
                                    </div>
                                    <p class="card-category" style="font-weight: bold;">CLASS :
                                        <span>AMOUNT</span>
                                        <span> COUNT </span>
                                    </p>

                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <a href="#pablo">Total: </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">store</i>
                                    </div>
                                    <p class="card-category">Revenue</p>
                                    <h3 class="card-title">$34,245</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i> Last 24 Hours
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">info_outline</i>
                                    </div>
                                    <p class="card-category">Fixed Issues</p>
                                    <h3 class="card-title">75</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">local_offer</i> Tracked from Github
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                    <p class="card-category">Followers</p>
                                    <h3 class="card-title">+245</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">update</i> Just Updated
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-md-12">
                            <div class="card osBegining-summary">
                                <div class="card-header card-header-warning">
                                    <h4 class="card-title">Begining OS Summary</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">

                                            <th>Class</th>
                                            <th>Count</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card intimated-summary">
                                <div class="card-header card-header-success">
                                    <h4 class="card-title">Intimated claims summary</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">

                                            <th>Class</th>
                                            <th>Count</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card revived-summary">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Revived claims summary</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">

                                            <th>Class</th>
                                            <th>Count</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card revision-summary">
                                <div class="card-header card-header-warning">
                                    <h4 class="card-title">Revision summary</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">

                                            <th>Class</th>
                                            <th>Count</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card paid-summary">
                                <div class="card-header card-header-danger">
                                    <h4 class="card-title">paid claims summary</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">

                                            <th>Class</th>
                                            <th>Count</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card paid-settled-summary">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Paid settled claims summary</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">

                                            <th>Class</th>
                                            <th>Count</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="card closed-as-noclaim-summary">
                                <div class="card-header card-header-info">
                                    <h4 class="card-title">Closed as no claim summary</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">

                                            <th>Class</th>
                                            <th>Count</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-12">
                            <div class="card os-End-summary">
                                <div class="card-header card-header-success">
                                    <h4 class="card-title">Os end estimate summary</h4>
                                    <p class="card-category">New employees on 15th September, 2016</p>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead class="text-warning">

                                            <th>Class</th>
                                            <th>Count</th>
                                            <th>Total</th>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer ">
                <div class="container-fluid">
                    <div class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made by
                        <a href="https://www.njausteve.com" target="_blank">njausteve </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
<!--   Core JS Files   -->
<script>
    window.$ = window.jQuery = require('../assets/js/vendor/jquery.min');
</script>

<script src="../assets/js/vendor/popper.min.js"></script>
<script src="../assets/js/vendor/bootstrap-material-design.js"></script>
<script src="../assets/js/vendor/material-dashboard.js"></script>
<script src="../assets/js/data-loader.js"></script>

</html>